<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Catalog::catalog">
                <resource id="Platformz_CutPoint::cutpoint" title="CutPoint Matrix" sortOrder="90">
                    <resource id="Platformz_CutPoint::import" title="Import CutPoint Matrix" sortOrder="10"/>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>

